* {
  font-family: 'Courier New', Courier, monospace;
}
.App {
  text-align: center;
  margin-top:10px;
}
.error-text {
  font-size:12px;
  color:rgb(240, 0, 0);
}
.pokeListDIV{
  justify-content:center;
}
.form-input-div{
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: auto;
  border-radius: 30px;
  padding:15px;
  background-color: rgb(219, 219, 219);
}
.form-input-div>input{
  border-radius:30px;
}
.product-submit-btn{
  border:1px solid;
  border-color:black;
  box-shadow: 1px 1px black;
}
.product-div{
  border: 1px solid;
  width:250px;
  margin: auto;
  margin-top:15px;
  border-radius: 30px;
  padding:15px;
  background-color: rgb(238, 238, 238);
  display:flex;
  flex-direction: column;
}
.product-title-link{
  font-weight:bold;
  color:rgb(58, 58, 58);
}
.product-title-link:hover{
  color: black;
}
.product-edit-link{
  color:rgb(15, 76, 241);
  font-size:13px;
  margin-top:1px;
}
.product-edit-link:hover{
  color:black;
}
.delete-btn{
  border:0px;
  background-color: rgb(238, 238, 238);
  color:rgb(15, 76, 241);
  font-size:13px;
  text-decoration: underline;
}
.delete-btn:hover{
  color:black;
}
.product-detailpage-title{
  text-decoration:underline;
}
#edit-delete-link-div{
  display:flex;
  flex-direction:row;
  margin: auto;
}
